<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
      id="site-stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}
    </title>
  </head>
  <body>
    <div id="cont">
      {% include header.html %}
      <!-- Include header -->

      <main>
        {{ content }}
        <!-- Where page/post content will be rendered -->
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
