---
layout: default
---

<!-- post-specific content here -->
<article>
  <div class="post-section-label">
    <span>WebDCR News</span>
  </div>
  {% assign post_timestamp = page.date | date: "%s" | plus: 0 %}
  {% assign migration_timestamp = '2026-01-16 00:00:00 UTC' | date: "%s" | plus: 0 %}
  {% if post_timestamp < migration_timestamp %}
  <!-- This post is before July 2025 -->
  <div
    style="
      background: #ededed;
      border: 1px solid black;
      padding: 15px;
      padding-left: 15px;
      display: flex;
      gap: 12px;
      align-items: center;
    "
  >
    <img src="/assets/images/info.ico" alt="Legacy news warning" />
    <div>
      <strong style="display: block; margin-bottom: 4px"
        >Hey, read this!</strong
      >
      <p style="margin: 0">
        This piece was published before the station migrated to a new website on
        January 16, 2026. Please notify the news editor of any formatting errors at
        hi@webdcr.com.
      </p>
    </div>
  </div>
  {% endif %}

  <h1>{{ page.title }}</h1>
  <p><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
  {{ content }}
</article>
